{% extends "base.html" %}
{% block content %}
    <h2>Список клиентов</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td><a href="{{ url_for('list_pets', client_id=client.id) }}">Питомцы</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('add_client') }}" class="btn">+ Добавить</a>
{% endblock %}